---

// IMPORT ASTRO COLLECTION
import { getCollection } from "astro:content"

// IMPORT HEADER COLLECTION
let header_data = await getCollection("secondary-header")
header_data = header_data.sort( ( a, b ) => a.data.order - b.data.order )

// IMPORT ASTRO ATOMS
import Line from "@/atoms/header/line/index.astro"
import ListItem from "@/atoms/header/list-item/index.astro"
import Picture from "@/atoms/picture/index.astro"

---

<div class="flex flex-col gap-2 items-center">
	<Line />
	<div class="flex gap-2 items-center justify-between w-[1280px]">
		<a href="/">
		    <div class="size-8">
				<Picture
					alternative_text="The Athenaeum Hotel Logo"
					source="/logo/logo.svg"
				/>
			</div>
		</a>
		<div class="flex items-center gap-8">
			{

				header_data.map( ( item ) => {

					return (
						<li class="relative group list-none font-semibold font-serif text-[12.8px] text-white hover:opacity-65 transition-opacity uppercase py-2">
							<a href={ "/" + item.data.href } aria-label={ "explore " + item.data.title }>{ item.data.title }</a>
							{

								item.data.has_dropdown &&
								<div class="hidden group-hover:block group-hover:flex-col absolute p-4 bg-white left-0 z-20 top-9 w-fit gap-2">
									<div class="flex gap-4">
										{

											item.data.items.map( ( sub_item, sub_item_index ) => {

												return(

													<div class="py-2">
														{/* <ListItem> */}
															<a href={ "/" + sub_item.href } aria-label={ "explore" + sub_item.title } class="text-black">{ sub_item.title }</a>
														{/* </ListItem> */}
													</div>

												)

											})

										}
									</div>
								</div>

							}
						</li>
					)

				})

			}
		</div>
		<ListItem>EN</ListItem>
	</div>
	<Line />
</div>
