---
import CenterSVG from "../center-svg/CenterSVG.astro"
import MainHeader from "../header/MainHeader.astro"
import SubHeader from "../header/SubHeader.astro"
---
<section class=" bg-heroImage w-full h-screen bg-no-repeat bg-center bg-cover p-0">
    <div class="bg-black w-full h-screen bg-opacity-25 pt-2 flex flex-col items-center gap-2" >
     
        <MainHeader/>
        <SubHeader />
        <CenterSVG /> 

    </div>
</section>