---

// IMPORT REVIEW COMPONENTS
import Image from "@/components/common/reviews/image/index.astro"
import Text from "@/components/common/reviews/text/index.astro"

---

<div class=" w-full flex justify-between items-center mt-[60px]" >
    <Image 
        alternative_text="Review Image"
        source="/images/review_image.jpg"
    />
    <Text />
</div>