---

---

<div class=" mt-20 w-full bg-repeat_bg h-[500px] bg-repeat flex flex-col items-center justify-center">
    <div class=" flex flex-col items-center justify-center w-fit gap-8" >
        <h1 class=" text-white font-serif text-[35px] text-center">
            EXCLUSIVE BENEFITS AWAIT – JOIN THE LIST!
        </h1>
        <p class=" font-sans text-white text-[22px]" >
            * indicates required
        </p>
        <div class="flex justify-center items-center gap-6 " >
            <div class=" flex flex-col items-center justify-center gap-4" >
                <p class=" font-sans text-white text-[22px]" >
                    Email Address*
                </p>
                <input 
                    type="email" 
                    value="" 
                    placeholder="Email Address" 
                    class=" h-[50px] w-[400px] outline-none bg-inherit border-2 border-white pl-4 text-white" 
                />
            </div>
            <div class=" flex flex-col items-center justify-center gap-4" >
                <p class=" font-sans text-white text-[22px]" >
                    First Name*
                </p>
                <input 
                    type="text" 
                    value="" 
                    placeholder="First Name" 
                    class=" h-[50px] w-[400px] outline-none bg-inherit border-2 border-white pl-4 text-white" 
                />
            </div>
            <div class=" flex flex-col items-center justify-center gap-4" >
                <p class=" font-sans text-white text-[22px]" >
                    Last Name*
                </p>
                <input 
                    type="text" 
                    value="" 
                    placeholder="Last Name" 
                    class=" h-[50px] w-[400px] outline-none bg-inherit border-2 border-white pl-4 text-white" 
                />
            </div>
        </div>
    </div>
</div>