---

// IMPORT ASTRO ATOMS
import Picture from "@/atoms/picture/index.astro"

---

<div class="my-20 w-72 aspect-square">
    <Picture
        alternative_text = "Athenaeum Hotel Image"
        source = "/logo/logo.svg"
    />
</div>
