---

// IMPORT ASTRO COMPONENT
import Image from "@/atoms/information/image/index.astro"
import Info from "@/atoms/information/info/index.astro"

---

<div>
    <div class="mt-10 mx-10 w-[90%] flex justify-around items-center gap-4 " >
        <Image 

            alternative_text1="Image" 
            alternative_text2="Image" 
            alternative_text3="Image" 
            source1="/images/bed_image.jpeg" 
            source2="/images/bed_image.jpeg" 
            source3="/images/bed_image.jpeg" 

        />
        <Info
            button_content = "FIND OUT MORE"
            heading_content = "THE LIVING WALL"
            paragraph_content = "Installed in 2009, The Athenaeum’s Living Wall has quickly become a symbol of the hotel. The garden begins at street level and reaches all the way to the 10th floor. It provides a subtle nod to the verdant splendour of Green Park just across the road, as well as being an important haven of biodiversity for London."
        />
    </div>

    <div class="mt-10 mx-10 w-[90%] flex justify-around items-center gap-4 " >
        <Info
            button_content = "FIND OUT MORE"
            heading_content = "EXCLUSIVE RESIDENTS LOUNGE – THE VIEW"
            paragraph_content = "Available only by booking directly with The Athenaeum, The View promises an idyllic spot on the tenth floor to enjoy an afternoon tipple with panoramic sunset views of London’s iconic skyline. It’s exclusivity and décor is reminiscent of private members club surroundings."
        />
        <Image 

            alternative_text1="Image" 
            alternative_text2="Image" 
            alternative_text3="Image" 
            source1="/images/bed_image.jpeg" 
            source2="/images/bed_image.jpeg" 
            source3="/images/bed_image.jpeg" 

        />
    </div>

    <div class="mt-10 mx-10 w-[90%] flex justify-around items-center gap-4 " >
        <Image 

            alternative_text1="Image" 
            alternative_text2="Image" 
            alternative_text3="Image" 
            source1="/images/bed_image.jpeg" 
            source2="/images/bed_image.jpeg" 
            source3="/images/bed_image.jpeg" 

        />
        <Info
            button_content = "FIND OUT MORE"
            heading_content = "DOGS FRIENDLY HOTEL"
            paragraph_content = "When we say we love dogs we mean it! You could try a deep-filled, hypoallergenic, hollow-fibre mattress and a range of tasty treats from our VIPup package to make their stay as luxurious as yours."
        />
    </div>
</div>