---
//ListItem -> each li in the maps
import Listitem from "../../atoms/list-item/Listitem.astro"
//Content of the header
import  {navlinks} from "@/content/headerContent/mainHeader"
---
<section class="w-[35rem]">
    <div class="h-[2rem] w-[auto] flex justify-around items-center gap-[1rem]" >
      {navlinks.map((link) => (
        <Listitem>
          <a href={link.href}>{link.name}</a>
        </Listitem>
      ))}
    </div>
</section>