---

// IMPORT ATOMS
import Picture from "@/atoms/picture/index.astro"

---
 
 <div class=" w-[320px] h-[480px] bg-gray-400 " >
    <Picture 
        alternative_text = "Athenaeum Hotel Image"
        source = "/images/bed_image.jpeg"
    /> 
</div>