---

// IMPORT ASTRO COMPONENT
import Points from "@/components/home/information_1/points/index.astro"
import Image from "@/components/home/information_1/image/index.astro"
import Info from "@/components/home/information_1/info/index.astro"

---

<div class=" mt-20 mx-10 w-[90%] flex justify-around items-center gap-4 " >
    <Points />
    <Image />
    <Info />
</div>