---

// IMPORT ASTRO COLLECTION
import { getCollection } from "astro:content"

// IMPORT HEADER COLLECTION
let header_data = await getCollection("primary-header")
header_data = header_data.sort( ( a, b ) => a.data.order - b.data.order )

// IMPORT ASTRO ATOMS
import Listitem from "@/atoms/header/list-item/index.astro"

---
<header class="w-[540px]">
    <ul class="h-8 w-auto flex justify-around items-center gap-4">
    	{

			header_data.map( ( data ) => {

				return(
					<Listitem>
						<a href={ data.data.href }>{ data.data.title }</a>
					</Listitem>
				)

			})

		}
    </ul>
</header>
